<%-include('../layouts/header')%>

    <div class="page-wrapper">
      <header class="header">
        <% if(typeof userData !=="undefined"){%>        
          <%-include('logeduser')%>
        <%}else{%>
          <%-include('nouser')%>
        <%}%>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: black;">Spy.steps

              </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container ">
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/categories" class="sf-with-ul">Categories</a>
                    <ul>
                                           
                    </ul>
                  </li>
                  <li>
                    <a href="/products" class="">Products</a>
                  </li>
                  
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"
                  ><i class="icon-search"></i
                ></a>
                <form action="/search" method="get" id="search-form">
                  <div class="header-search-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input
                      type="search"
                      class="form-control"
                      name="search"
                      id="search-input"
                      placeholder="Search in..."
                      required
                    />
                  </div>
                </form>
              </div>
              <div class="dropdown compare-dropdown">
                <a
                  href="/wishlist"
                  class="dropdown-toggle"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                  title="Wishlist"
                  aria-label="Wishlist"
                >
                  <i class="icon-heart-o"></i>
                </a>
              </div>

              <div class="dropdown cart-dropdown">
                <a
                  href="/cart"
                  class="dropdown-toggle"
                  role="button"
                  
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                >
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-count"></span>
                </a>                
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main">
        
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
               <a href="/account"> My Account </a>
              </li>
            </ol>
          </div>
        </nav>

        <div class="page-content">
          <div class="dashboard">
            <div class="container">
              <div class="row">
                <aside class="col-md-4 col-lg-3">
                  <ul
                    class="nav nav-dashboard flex-column mb-3 mb-md-0"
                    role="tablist"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link "
                        id="tab-dashboard-link"
                        
                        href="/account"
                        role="tab"
                        aria-controls="tab-dashboard"
                        aria-selected="true"
                        >Dashboard</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link "
                        id="tab-orders-link"
                        
                        href="/orders"
                        role="tab"
                        aria-controls="tab-orders"
                        aria-selected="false"
                        >Orders</a
                      >
                    </li>
                    <!-- <li class="nav-item">
                      <a
                        class="nav-link"
                        id="tab-downloads-link"
                        data-toggle="tab"
                        href="#tab-downloads"
                        role="tab"
                        aria-controls="tab-downloads"
                        aria-selected="false"
                        >Downloads</a
                      >
                    </li> -->
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="tab-address-link"
                        
                        href="/address"
                        role="tab"
                        aria-controls="tab-address"
                        aria-selected="false"
                        >Adresses</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="tab-account-link"
                        data-toggle="tab"
                        href="#tab-account"
                        role="tab"
                        aria-controls="tab-account"
                        aria-selected="false"
                        >Account Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                  </ul>
                </aside>

                <div class="col-md-8 col-lg-9">
                  <div class="tab-content">
                    <div
                      class="tab-pane fade "
                      id="tab-dashboard"
                      role="tabpanel"
                      aria-labelledby="tab-dashboard-link"
                    >
                      <p>
                        Hello
                        <span class="font-weight-bold text-dark" style="font-size: large;"></span>                        
                        <br />
                        From your account dashboard you can view your
                        <a
                          href="#tab-orders"
                          class="tab-trigger-link link-underline"
                          >recent orders</a
                        >, manage your
                        <a href="#tab-address" class="tab-trigger-link"
                          >shipping and billing addresses</a
                        >, and
                        <a href="#tab-account" class="tab-trigger-link"
                          >edit your password and account details</a
                        >.
                      </p>
                      <p></p>
                    </div>

                    <!-- <div
                      class="tab-pane fade"
                      id="tab-orders"
                      role="tabpanel"
                      aria-labelledby="tab-orders-link"
                    >
                      <p>No order has been made yet.</p>
                      <a href="category.html" class="btn btn-outline-primary-2"
                        ><span>GO SHOP</span
                        ><i class="icon-long-arrow-right"></i
                      ></a>
                    </div> -->

                    <div
                      class="tab-pane fade"
                      id="tab-downloads"
                      role="tabpanel"
                      aria-labelledby="tab-downloads-link"
                    >
                      <p>No downloads available yet.</p>
                      <a href="category.html" class="btn btn-outline-primary-2"
                        ><span>GO SHOP</span
                        ><i class="icon-long-arrow-right"></i
                      ></a>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="tab-address"
                      role="tabpanel"
                      aria-labelledby="tab-address-link"
                    >
                      <p>
                        The following addresses will be used on the checkout
                        page by default.
                      </p>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card card-dashboard">
                            <div class="card-body">
                              <h3 class="card-title">Billing Address</h3>

                              <p>
                                <br />
                                User Company<br />
                                John str<br />
                                New York, NY 10001<br />
                                1-234-987-6543<br />
                                yourmail@mail.com<br />
                                <a href="#">Edit <i class="icon-edit"></i></a>
                              </p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="card card-dashboard">
                            <div class="card-body">
                              <h3 class="card-title">Shipping Address</h3>

                              <p>
                                You have not set up this type of address yet.<br />
                                <a href="#">Edit <i class="icon-edit"></i></a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="tab-pane fade show active"
                      id="tab-account"
                      role="tabpanel"
                      aria-labelledby="tab-account-link"
                    >
                      <form action="" method="post">
                        <% if(typeof message !== 'undefined'){ %>
                          <p style="color: red; text-align: center">
                            <%= message %>
                          </p>                      
                          <% } %> 
                          <div class="col-sm-6">
                            <label>Name *</label>
                            <input type="text" class="form-control" name="name" value="<%=user.name%>" />
                          </div>                          
                        
                        <div class="col-sm-6">
                          <label>Email address *</label>
                          <input type="email" class="form-control" name="email" value="<%=user.email%>" />
                        </div>
                        <div class="col-sm-6">
                          <label>Mobile No. *</label>
                          <input type="text" class="form-control" name="mobile" value="<%=user.mobile%>" />
                        </div>
                        <div class="col-sm-6">
                          <label
                            >Current password (leave blank to leave
                            unchanged)</label
                          >
                          <input type="password" class="form-control" value="<%=user.password%>"/>
                        </div>
                        <div class="col-sm-6">
                          <label
                            >New password (leave blank to leave unchanged)</label
                          >
                          <input type="password" class="form-control"  name="password"/>
                        </div>
                        <input type="hidden" name="id" value="<%=user._id%>">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>SAVE CHANGES</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: rgb(255, 255, 255);margin: 0;padding: 0;">Spy.steps

                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>

                  <ul class="widget-list">
                    <li><a href="/about">About Spy.steps</a></li>
                    <li><a href="#">How to shop on Spy.steps</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/login">Log in</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>

                  <ul class="widget-list">
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="/wishlist">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Spy.steps Store. All Rights Reserved.
            </p>
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
          </div>
        </div>
      </footer>
    </div>
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/search" method="get" id="mobile-search-form" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="search"
            id="mobile-search-input"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/categories">Categories</a>
              <ul>
               
                  <li><a href="blog.html">Classic</a></li>
                  <li><a href="blog-listing.html">Listing</a></li>                  
              </ul>
            </li>
            <li>
              <a href="/products" class="">Products</a>              
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
            <li>
              <a href="/wishlist">Wishlist</a>
            </li>
            <li>
              <a href="/cart">Add to Cart</a>
            </li>
          </ul>
        </nav>

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </div>

    <%-include('../layouts/footer')%>    