<%-include('../layouts/header')%>
<style>
  .product-zoom {
    width: 458px;
    height: 458px;
    object-fit: contain;
  }

  .product-zoom img {
    display: block;
    max-width: 100%;
  }

  .zoom-img img {
    width: 800px;
    height: 800px;
    object-fit: contain;
  }

  .product-image-gallery a img {
    width: 98.88px;
    height: 107px;
    object-fit: contain;
  }
</style>

    <div class="page-wrapper">
      <header class="header">
        <% if(typeof userData !=="undefined"){%> 
          <%-include('logeduser')%>
        <%}else{%>
           <%-include('nouser')%> 
          <%}%>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>

              <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: black;">Spy.steps

              </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container active">
                    <a href="/" class="">Home</a>                    
                  </li>                  
                  <li>
                    <a href="/products" class="">Products</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header-right">
              <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"
                  ><i class="icon-search"></i
                ></a>
                <form action="/search" method="get" id="search-form">
                  <div class="header-search-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input
                      type="search"
                      class="form-control"
                      name="search"
                      id="search-input"
                      placeholder="Search in..."
                      required
                    />
                  </div>
                </form>
              </div>
              <div class="dropdown compare-dropdown">
                <a
                  href="/wishlist"
                  class="dropdown-toggle"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                  title="Wishlist"
                  aria-label="Wishlist"
                >
                  <i class="icon-heart-o"></i>
                </a>
              </div>

              <div class="dropdown cart-dropdown">
                <a
                  href="/cart"
                  class="dropdown-toggle"
                  role="button"
                 
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                >
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-count" id="cart-count">0</span>
                </a>                
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="main">
        <div
          class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
          style="
            background-image: url('assets/images/backgrounds/login-bg.jpg');
          "
        >
          <div class="container">
            <div class="form-box">
              <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="signin-tab-2"
                      data-toggle="tab"
                      href="#signin-2"
                      role="tab"
                      aria-controls="signin-2"
                      aria-selected="false"
                      >Add Review</a
                    >
                  </li>
                </ul>
                <% if(typeof message !== 'undefined'){ %>
                  <p style="color: red; text-align: center">
                    <%= message %>
                  </p>                      
                  <% } %> 
                <div class="tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="signin-2"
                    role="tabpanel"
                    aria-labelledby="signin-tab-2"
                  >
                  <div class="form-group d-flex justify-content-center">
                    <label for="singin-email-2" style="font-weight: bold;font-size: large;"
                      ><%= product.name %></label
                    >                 
                    <img src="/productImages/<%=product.image[0]%>" alt="" style="width: 100px;height: 100px;" id="imgView">                    
                  </div> 
                  
                    <form action="" method="post">                       
                      <div class="form-group">
                        <label for="singin-email-2"
                          >Rating out of 5*</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          id="rating"
                          name="rating"
                        />
                      </div>
                      <div class="form-group">
                        <label for="singin-email-2"
                          >Review Title</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="reviewTitle"
                          name="reviewTitle"
                        />
                      </div>
                      <div class="form-group">
                        <label for="singin-email-2"
                          >Write Review *</label
                        >
                        <textarea class="form-control" 
                          name="review" 
                          id="review" 
                          cols="30" rows="5" >
                        </textarea>                        
                      </div>
                      <input type="hidden" name="id" value="<%= product._id %>">
                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2" id="submitButton">
                          <span>Submit</span>                          
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <img
                    src="assets/images/logo.png"
                    class="footer-logo"
                    alt="Footer Logo"
                    width="105"
                    height="25"
                  />
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>

                  <ul class="widget-list">
                    <li><a href="/about">About Spy.steps</a></li>
                    <li><a href="#">How to shop on Spy.steps</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/login">Log in</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>

                  <ul class="widget-list">
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="/wishlist">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                </div>   
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Spy.steps Store. All Rights Reserved.
            </p>
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
          </div>
        </div>
      </footer>
    </div>
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <div class="mobile-menu-overlay"></div>

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/search" method="get" id="mobile-search-form" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="search"
            id="mobile-search-input"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/">Home</a>
            </li>            
            <li>
              <a href="/products" class="">Products</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </nav>

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
      </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>    
  </body>

</html>
