<%-include('../layouts/header')%>

    <div class="page-wrapper">
      <header class="header">
        <% if(typeof userData !=="undefined"){%> <%-include('logeduser')%>
        <%}else{%> <%-include('nouser')%> <%}%>

        <div class="header-middle sticky-header">
          <div class="container">
            <div class="header-left">
              <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
              </button>
              <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: black;">Spy.steps

              </a>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <li class="megamenu-container ">
                    <a href="/">Home</a>
                  </li>

                  <li class="active">
                    <a href="/categories" class="sf-with-ul">Categories</a> 
                    <ul>
                      <%
                        for(let i=0;i<categoryScroll.length;i++){%>
                          <li><a href="/categorywise?id=<%=categoryScroll[i]._id%>"><%= categoryScroll[i].name%></a></li>                          
                        <%}            
                      %>                      
                    </ul>
                  </li>
                  <li >
                    <a href="/products" class="">Products</a>
                  </li>
                  <li>
                    <a href="/about">About Us</a>
                  </li>
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                </ul>
                <!-- End .menu -->
              </nav>
              <!-- End .main-nav -->
            </div>
            <!-- End .header-left -->

            <div class="header-right">
              <div class="header-search">
                <a href="" class="search-toggle" role="button" title="Search"
                  ><i class="icon-search"></i
                ></a>                
                <form action="/search" method="get" id="search-form">
                  <div class="header-search-wrapper">
                    <label for="q" class="sr-only">Search</label>
                    <input
                      type="search"
                      class="form-control"
                      name="search"
                      id="search-input"
                      placeholder="Search in..."
                      required
                    /> 
                  </div>
                  <!-- End .header-search-wrapper -->
                </form>
              </div>
              <!-- End .header-search -->
              <div class="dropdown compare-dropdown">
                <a
                  href="/wishlist"
                  class="dropdown-toggle"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                  title="Wishlist"
                  aria-label="Wishlist"
                >
                  <i class="icon-heart-o"></i>
                </a>
              </div>
              <!-- End .compare-dropdown -->

              <div class="dropdown cart-dropdown">
                <a
                  href="/cart"
                  class="dropdown-toggle"
                  role="button"
                  
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-display="static"
                >
                  <i class="icon-shopping-cart"></i>
                  <span class="cart-count" id="cart-count">0</span>
                </a>
                
              </div>
              <!-- End .cart-dropdown -->
            </div>
            <!-- End .header-right -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .header-middle -->
      </header>
      <!-- End .header -->

      <main class="main">
       
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/products">Products</a></li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="container">
            <div class="row">
              <div class="col-lg-9">
                <div class="toolbox">
                  <div class="toolbox-left">
                    
                    <!-- End .toolbox-info -->
                  </div>
                  <div class="toolbox-right">
                                   
                  </div>
                  <!-- End .toolbox-right -->                

                </div>
                <!-- End .toolbox -->

                <div class="products mb-3" id="productList">
                  <div class="row justify-content-center">
                    <% if(products.length>0){%>
                    <% for(let i=0;i<products.length;i++){%>
                      
                    <div class="col-6 col-md-4 col-lg-4">
                      <div class="product product-7 text-center">
                        <figure class="product-media">
                          
                          <a href="/singleproduct?id=<%=products[i]._id%>">
                            <img
                          src="/productImages/<%= products[i].image[0]%>"
                          alt="Product image"
                          class="product-image"
                          
                        />
                        <img
                          src="/productImages/<%= products[i].image[1]%>"
                          alt="Product image"
                          class="product-image-hover"
                          
                        />

                          </a>

                          <div class="product-action-vertical" id="wishlist-container">
                            <a
                              href="#"
                              class="btn-product-icon btn-wishlist btn-expandable"
                              <% if(!user) {%>
                                onclick="window.location.href='/login' "
                              <%}else{%>
                                  onclick="addToWishlist('<%=products[i]._id%>') "
                                <%}%>

                              ><span>add to wishlist</span></a
                            >
                          </div>
                          <!-- End .product-action-vertical -->

                          <div class="product-action">
                           
                            <a href="#" class="btn-product btn-cart"
                              <% if (!user) { %>
                                onclick="window.location.href='/login' "
                                <% } else { %>
                                  onclick="addToCart('<%=products[i]._id%>') "
                               <% } %>
                              >
                              <span>add to cart</span>
                            </a>
                          </div>
                          <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div class="product-body">
                          <div class="product-cat">
                            <a href="#"></a>
                          </div>
                          <!-- End .product-cat -->
                          <h3 class="product-title">
                            <a href="/singleproduct?id=<%=products[i]._id%>"
                              ><%= products[i].name %></a
                            >
                          </h3>
                          <!-- End .product-title -->
                          <div class="product-price">Rs.<%= products[i].price%></div>
                          <!-- End .product-price -->                          

                          <div class="product-nav product-nav-thumbs">

                            <% let images = products[i].image.slice(0,3); %>
                            <% if(images.length < 3) {
                                while(images.length < 3){
                                    images.push(products[i].image[0]);
                                }
                              }
                            %>
                            <% images.forEach(function(image, index){ %>
                              <a href="#" class="active">
                                <img src="/productImages/<%= image %>" alt="product desc" 
                                style="width: 40px; height: 40px;"
                                />
                              </a>
                            <% }); %>

                           
                          </div>                        
                          <!-- End .product-nav -->
                        </div>                        
                        <!-- End .product-body -->
                      </div>
                      <!-- End .product -->
                    </div>
                    <!-- End .col-sm-6 col-lg-4 -->
                    <%}}%>
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .products -->

                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <% if (currentPage > 1) { %>
                        <a class="page-link page-link-prev"
                        href="/categorywise?id=<%=categories._id%>&page=<%= previous %>&search=<%= search %>"
                        aria-label="Previous"
                        tabindex="-1"
                        aria-disabled="true">
                        <span aria-hidden="true"
                        ><i class="icon-long-arrow-left"></i></span
                      >Prev</a>
                      <% } else { %>
                        <span class="page-link page-link-next" aria-label="Previous" aria-hidden="true">
                          <i class="icon-long-arrow-left"></i>Prev</span>
                      <% } %>                      
                     <!-- <a
                        class="page-link page-link-prev"
                        href="?page=<%= currentPage>=1? previous: currentPage%>"
                        aria-label="Previous"
                        tabindex="-1"
                        aria-disabled="true"
                      >
                        <span aria-hidden="true"
                          ><i class="icon-long-arrow-left"></i></span
                        >Prev
                      </a> -->
                    </li>
                    <%for(let i=1;i<=totalPages;i++){%>
                      <%if(i==currentPage){%>
                        <li class="page-item active page-link" aria-current="page"><%=i%></li>
                        <%}else{%>
                          <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?id=<%=categories._id%>&page=<%=i%>&search= <%=search%>"><%= i %></a>
                          </li> 
                          <%}%>   
                     <!-- <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                      </li>  -->                      
                    <%}%>
                    
                   <!-- <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item-total">of 6</li>-->
                    <li class="page-item"> 
                      <% if (currentPage < totalPages) { %>
                        <a class="page-link page-link-next"
                        href="/categorywise?id=<%=categories._id%>&page=<%= next %>&search=<%= search %>"
                        aria-label="Next">Next
                        <span aria-hidden="true"
                        ><i class="icon-long-arrow-right"></i>
                        </span>
                      </a>
                      <% } else { %>
                        <span class="page-link page-link-next" aria-label="Next" aria-hidden="true">Next 
                          <i class="icon-long-arrow-right"></i>
                          </span>
                      <% } %>                    
                     <!-- <a
                        class="page-link page-link-next"
                        href="?page=<%= currentPage<totalPages? next: currentPage%>"
                        aria-label="Next"
                      >
                        Next
                        <span aria-hidden="true"
                          ><i class="icon-long-arrow-right"></i
                        ></span>
                      </a>-->
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- End .col-lg-9 -->
               <aside class="col-lg-3 order-lg-first">
               <!-- <div class="sidebar sidebar-shop">
                  <div class="widget widget-clean">
                    <label>Filters:</label>
                    <a href="#" class="sidebar-filter-clear">Clean All</a>
                  </div>
                  

                  <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                      <a
                        data-toggle="collapse"
                        href="#widget-1"
                        role="button"
                        aria-expanded="true"
                        aria-controls="widget-1"
                      >
                        Categories
                      </a>
                    </h3>
                    

                    <div class="collapse show" id="widget-1">
                      <div class="widget-body">
                        
                        <div class="filter-items filter-items-count" id="category-filters">
                          <% if(categoryScroll.length > 0){ %>                           
                            <% for(let i=0;i<categoryScroll.length;i++){ %>
                            <div class="filter-item">
                              <div class="custom-control custom-radio ">
                                <input type="radio" name="category"  
                                  value="<%= categoryScroll[i]._id %>"
                                  id="cat- <%= categoryScroll[i]._id %>-radio"
                                  class="custom-control-input category-radio"
                                  onchange="filterProductsByCategory('<%=categoryScroll[i]._id%>')">
                                <label class="custom-control-label" for="cat- <%= categoryScroll[i]._id %>-radio"> <%= categoryScroll[i].name %> </label>
                              </div>
                            </div>
                            <% } %>
                          <% } %>
                        </div>                  

                       
                      </div>
                      
                    </div>
                    
                  </div>
                  

                  <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                      <a
                        data-toggle="collapse"
                        href="#widget-5"
                        role="button"
                        aria-expanded="true"
                        aria-controls="widget-5"
                      >
                        Price
                      </a>
                    </h3>                 

                    <div class="collapse show" id="widget-5">
                      <div class="widget-body">
                        <div class="filter-price">
                          <div class="filter-price-text">
                            Price Range:
                            <span id="filter-price-range"></span>
                          </div>                        

                          <div id="price-slider"></div>                          
                        </div>                        
                      </div>                      
                    </div>                    
                  </div>
                  
                </div>-->
                
              </aside> 
              <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <a href="/" class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;color: rgb(255, 255, 255);margin: 0;padding: 0;">Spy.steps

                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                  <!-- End .soial-icons -->
                </div>
                <!-- End .widget about-widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="/about">About Molla</a></li>
                    <li><a href="#">How to shop on Molla</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/login">Log in</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="/wishlist">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © <script>document.write(new Date().getFullYear());</script> Spy.steps Store. All Rights Reserved.
            </p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            <!-- End .footer-payments -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
      </footer>
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" style="border-radius: 50%;background-color: rgba(255, 255, 255, 0.294);" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/search" method="get" id="mobile-search-form" class="mobile-search">
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="search"
            id="mobile-search-input"
            placeholder="Search in..."
            value="search"
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/categories">Categories</a>
              <ul>
                <%
                  for(let i=0;i<categoryScroll.length;i++){%>
                    <li><a href=""><%= categoryScroll[i].name%></a></li>                          
                  <%}            
                %>                             
              </ul>
            </li>
            <li>
              <a href="/products" class="">Products</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
        <!-- End .social-icons -->
      </div>
      <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->  

    <!-- <script>
      const addToWishlist = async(productId)=>{
        const response = await fetch('/addwishlist',{
          method:"POST",
          headers:{
            "Content-Type":"application/json"
          },
          body:JSON.stringify({productId: productId})
        })
        .then((res)=>res.json())
        .then((res)=>{
          if(res.message==='Added to wishlist'){
            alert(res.message);
            window.location.reload();
          }
          else{
            alert(res.message);
          }
        })
        .catch(error=>console.error(error))
      }
    </script> -->

    <script>
      const addToWishlist = async(productId)=>{
        const response = await fetch('/addwishlist',{
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({productId: productId})
        }).catch(error=>console.error(error))
        if(response.ok){
          const data = await response.json();
          alert("Product added to wishlist");    
          const wishlistContainer = document.getElementById('wishlist-container');
          const itemElement = document.createElement("div");
          wishlistContainer.appendChild(itemElement);
        }
        else{
          alert("Error adding product to wishlist");
        }
      }         
    </script>
    
    <!-- <script>
       const addToCart = async(productId)=>{
        const response = await fetch('/addtocart',{
          method:"POST",
          headers:{
            "Content-Type" :"application/json"
          },
          body: JSON.stringify({productId})
        })
        .then((res) => res.json())
          .then((res) => window.location.reload())
          .catch(error => console.error(error)) 

        //const data = await response.json();
        //console.log(data);
      }      
    </script> -->
    <!-- <script>
      const addToCart = async (productId) => {
        try {
          const response = await fetch('/addtocart', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ productId })
          });
    
          const data = await response.json();    
          // Update the cart count in the UI
          const cartCountEl = document.getElementById('cart-count');
          cartCountEl.textContent = data.cartItemCount;           
          alert('Product added to cart');
        } catch (error) {
          console.error(error);
          alert('Error adding product to cart');
        }
      };
    </script> -->
    
    <script>
      const addToCart = async (productId) => {
      try {
        const response = await fetch('/addtocart', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ productId })
        });

      const data = await response.json();
      if (data.message === 'Product is already present in cart') {  
        alert('Product is already present in cart');
      } else {
      // Update the cart count in the UI
          const cartCountEl = document.getElementById('cart-count');
          cartCountEl.textContent = data.totalQuantity;
          alert('Product added to cart');
        }
      } catch (error) {
        console.error(error);
        alert('Error adding product to cart');
      }
    };
    </script>

<!-- 
    <script>
      function filterProductsByCategory(categoryId) {
        fetch(`/products/filter?category=${categoryId}`)
        .then(response=>response.text())
        .then(html=>{
          document.getElementById('productList').innerHTML = html;
        })
        .catch(error => console.error(error))
      }   
    </script> -->
    
    <%-include('../layouts/footer')%>   